<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swimming Class Registration</title>
</head>
<body>

<!-- Registration Form -->
<form method="post" action="{{ url_for('form_details') }}">
    <h2>Retrieve Account Details</h2>

    <!-- Personal Information -->
    <label for="fullName">Full Name:</label>
    <input type="text" id="fullName" name="fullName" required>

    
    <!-- Submit Button -->
    <button type="submit">Retrieve Details</button>
</form>

{% if user %}
    <h2>User Details</h2>
    <p>ID: {{ user.id }}</p>
    <p>Full Name: {{ user.full_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Age: {{ user.age }}</p>
    <p>Experience: {{ user.experience }}</p>
{% elif error %}
    <p>{{ error }}</p>
{% endif %}
</body>
</html>
